<!DOCTYPE html>
<html>
<head>
    <title>HELP</title>
    <link rel="stylesheet" href="./CSS/styles.css">
    <link rel="icon" href = "./img/weather.png"

</head>
<body>
    <div class="main-content"> 
    <h1>{{>header}}</h1>
    <p>{{message}}</p>
    </div>
    <p>{{>footer}}</p>
</body>
</html>